.headerRight {
    display: grid;
    gap: rem(10);
    grid-auto-flow: column
}

.socialLinks {
    @include basicList;
    @include horizontalList(15);
    margin-right: rem(25);

    @include breakpoint(sm) {
        @include horizontalList(20);
        margin-right: rem(30);
    }

    @include breakpoint(md) {
        @include horizontalList(16);
        margin-right: 0;
    }

    li {

        img {
            display: block;
            height: rem(18);
            width: rem(18);
        }

    }

}
