@import '@/app/mixins.scss';

.productNav {
    display: flex;

    @include breakpoint(md) {
        background: var(--product-nav-bg);
        height: rem(50);
    }

    .container {

        @include breakpoint(md, max) {
            padding: 0;
        }

        @include breakpoint(md) {
            align-items: center;
            display: flex;
        }

    }

}
