.modalMask {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.modal {
    @include pattern(0.5);
    background: var(--secondary-colour);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    left: 50%;
    max-height: 90vh;
    max-width: 90vw;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 999;

    @include breakpoint(lg) {
        max-width: rem(1140);
    }

}

.modalClose {
    @include iconButton($mobileIconHeight: 18, $mobileIconWidth: 18);
    border-radius: 0 0 0 var(--border-radius);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.modalContent {
    overflow: auto;
    padding: rem(40) rem(30);

    @include breakpoint(sm) {
        padding: rem(50);
    }

    @include breakpoint(lg) {
        padding: rem(80) rem(150);
    }

    hgroup {
        @include breakpoint(lg) {
            margin-bottom: rem(60);
        }
    }

    h2 {
        @include breakpoint(lg) {
            font-size: rem(58);
        }
    }

}

.imageOnly {
    background: none;

    > div {
        overflow: hidden;
        position: relative;
        padding: 0;
    }

    img {
        // aspect-ratio: 4 / 3;
        display: block;
        height: auto;
        // object-fit: cover;
        max-width: 100%;
    }

}

.imgWrapper {
    // aspect-ratio: 4 / 3;
}
