@import '@/app/mixins.scss';

.footer {
    background: var(--footer-bg);
    color: var(--white);
    padding: rem(40) 0;

    @include breakpoint(md) {
        padding-top: rem(100);
    }

    h3 {
        font-family: var(--body-font);
        font-size: rem(18);
        font-weight: var(--font-weight--bold);
        margin-bottom: rem(15);

        @include breakpoint(md) {
            font-size: rem(20);
            margin-bottom: rem(25);
        }

    }

    p br {
        @include breakpoint(md) {
            display: none;
        }
    }

    .footerLinks li {

        a {
            color: var(--white);
            opacity: .8;

            &:hover {
                opacity: 1;
            }

        }

    }

}

.container {
    display: grid;
    gap: rem(40);

    @include breakpoint(md) {
        grid-template-columns: rem(250) 1fr 2fr max-content;
    }

    @include breakpoint(lg) {
        grid-template-columns: 1fr rem(200) rem(300) max-content;
    }

}

.footerCol {

    &:nth-child(1) {

        p {
            opacity: var(--text-opacity);
        }

        @include breakpoint(lg) {
            padding-right: rem(50);
        }

        @include breakpoint(xl) {
            padding-right: rem(150);
        }

    }

}

.footerBottom {

    @include breakpoint(md) {
        display: flex;
        grid-column: 1 / 5;
        justify-content: space-between;
        margin-top: rem(40);
    }

    a {
        @include textLink(true);
    }

}

.logo {
    margin-bottom: rem(20);
}

.footerLinks {
    @include basicList;

    @include breakpoint(md, max) {
        @include horizontalList(20);
    }

    li {
        margin-bottom: rem(10);

        a {
            font-weight: var(--font-weight--normal);
            text-decoration: none;

            &.isActive {
                font-weight: var(--font-weight--bold);
                opacity: 1;
            }

        }

    }

}

.copyright {
    @include basicList;
    @include horizontalList(20);

    @include breakpoint(md, max) {
        margin-bottom: rem(40);
    }

    li {

        &::after {
            background: var(--white);
            border-radius: 1px;
            content: '';
            display: inline-block;
            height: rem(16);
            margin-left: rem(20);
            position: relative;
            top: rem(4);
            width: rem(2);
        }

        &:first-child {
            @include breakpoint(sm, max) {
                margin-bottom: rem(10);
                width: 100%;

                &::after {
                    display: none;
                }

            }
        }

        &:last-child {

            &::after {
                display: none;
            }

        }

        a {
            @include textLink(true);
        }

    }

}
