

.featuredProducts {
    @include pattern(0.5);
    background: var(--secondary-colour);
    padding: rem(50) 0;

    @include breakpoint(md) {
        padding: rem(100) 0;
    }

    :global(.splide__slide) {
        padding-bottom: 5px;
    }

}
