/* global.css */
@import 'normalize.css';
@import '@/app/mixins.scss';
@import '@/app/vars.scss';

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    @include pattern;
    background-color: var(--primary-colour);
    color: var(--type-colour);
    font-family: var(--body-font);
    font-size: rem(16);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: rem(24);
    min-height: 100vh;
    padding-top: var(--header-height);

    @include breakpoint(lg) {
        font-size: rem(18);
        line-height: rem(30);
    }

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-spacing {
    margin-top: rem(75);
    margin-bottom: rem(75);

    @include breakpoint(md) {
        margin-top: rem(150);
        margin-bottom: rem(150);
    }

    @include breakpoint(xl) {
        margin-top: rem(200);
        margin-bottom: rem(200);
    }

    &--top {
        margin-top: rem(50);

        @include breakpoint(md) {
            margin-top: rem(75);
        }

        @include breakpoint(xl) {
            margin-top: rem(100);
        }
    }

}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    font-weight: var(--font-weight--regular);
    line-height: 1.2;
    margin: 0;
}

h4,
h5,
h6 {
    line-height: 1.5;
}

h1 {
    font-size: rem(36);

    @include breakpoint(lg) {
        font-size: rem(50);
    }

}

h2 {
    font-size: rem(28);

    @include breakpoint(lg) {
        font-size: rem(40);
    }

}

h3 {
    font-size: rem(22);

    @include breakpoint(lg) {
        font-size: rem(24);
    }

}

h4 {
    font-family: var(--body-font);
    font-size: rem(18);
    font-weight: var(--font-weight--bold);

    @include breakpoint(md) {
        font-size: rem(20);
        margin-bottom: rem(25);
    }

}

h5 {
    font-size: rem(24);
}

h6 {
    font-size: rem(20);
    margin-bottom: rem(20);
}

ul,
ol {
    margin-bottom: rem(28);
    margin-left: rem(28);
}

ul {
    list-style: inside;
}

p {
    margin-bottom: rem(24);

    @include breakpoint(md) {
        margin-bottom: rem(30);
    }

    &:last-child {
        margin-bottom: 0;
    }

}

.btn {
    @include button;
}

.btn--alt {
    @include button(alt);
}

.faux-link {
    @include textLink;
}

.img-full {
    height: 100%;
    left: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
}


.dark {
    @include pattern(1);
}
