@import '@/app/mixins.scss';

.splide {
    padding: 0;

    @include breakpoint(lg, max) {
        margin: 0 rem(-20);
    }

}

.splide__track {
    @include breakpoint(lg, max) {
        padding: 0 rem(20) !important;
    }
}

.splide.is-initialized:not(.is-active) .splide__list {
    @include breakpoint(lg) {
        display: grid;
        gap: rem(40);
        grid-template-columns: repeat(4, 1fr);
    }
}

.splide__pagination {
    display: flex;
    justify-content: center;
    margin-top: rem(30);

    .splide__pagination__page {
        background: var(--accent);
        border: none;
        border-radius: rem(3);
        height: rem(6);
        margin: 0 rem(8);
        opacity: .2;
        width: rem(50);

        &.is-active {
            opacity: 1;
        }

    }

}
