.img {
    overflow: hidden;
    position: relative;

    img {
        border-radius: var(--border-radius);
        cursor: pointer;
        display: block;
        height: 100%;
        object-fit: cover;
        transition: transform .2s ease-in-out;
        width: 100%;
    }

    &:hover img {
        transform: scale(1.05);
    }

}

.expandButton {
    @include iconButton(50, 50, 20, 20, 20, 20);
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
}

.img:hover .expandButton {
    background: var(--button-bg--hover);
    opacity: 1;
}
