/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/components/container/container.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.container_container__aRlmD {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  width: 100%;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/components/nav/nav.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.nav_navLinks__nc1xR {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 62rem) {
  .nav_navLinks__nc1xR {
    display: grid;
    grid-gap: 3.125rem;
    gap: 3.125rem;
    grid-auto-flow: column;
    margin-right: 1.875rem;
  }
}
.nav_navLinks__nc1xR li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav_navLinks__nc1xR li a {
  color: var(--white);
  display: flex;
  flex: 1 1;
  font-size: 1.125rem;
  font-weight: var(--font-weight--medium);
  padding: 0.9375rem 1.25rem 0.9375rem 1.875rem;
  text-decoration: none;
}
@media (min-width: 62rem) {
  .nav_navLinks__nc1xR li a {
    align-items: center;
    opacity: 0.8;
    padding: 0;
  }
}
.nav_navLinks__nc1xR li a:hover {
  color: var(--white);
  opacity: 1;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/components/products-nav/products-nav.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.products-nav_productNav__JNE9h {
  display: flex;
}
@media (min-width: 62rem) {
  .products-nav_productNav__JNE9h {
    background: var(--product-nav-bg);
    height: 3.125rem;
  }
}
@media (max-width: 61.99875rem) {
  .products-nav_productNav__JNE9h .products-nav_container__efUzZ {
    padding: 0;
  }
}
@media (min-width: 62rem) {
  .products-nav_productNav__JNE9h .products-nav_container__efUzZ {
    align-items: center;
    display: flex;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/components/social-links/social-links.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.social-links_headerRight__CvWhZ {
  display: grid;
  grid-gap: 0.625rem;
  gap: 0.625rem;
  grid-auto-flow: column;
}

.social-links_socialLinks__M74hY {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0.9375rem;
  gap: 0.9375rem;
  grid-auto-flow: column;
  margin-right: 0.9375rem;
}
.social-links_socialLinks__M74hY li img {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/components/header/header.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__arkog {
  position: fixed;
  height: var(--header-height);
  left: 0;
  top: 0;
  width: 100%;
}
.header_header__arkog .header_topHeader__xWbZO {
  background-color: var(--header-bg);
  display: flex;
  height: 100%;
}
@media (min-width: 62rem) {
  .header_header__arkog .header_topHeader__xWbZO {
    height: 6.25rem;
  }
}
.header_header__arkog .header_container__zLBWP {
  align-items: center;
  display: flex;
}
.header_header__logo__zOcNG {
  color: var(--white);
  font-family: var(--heading-font);
  font-size: 1.625rem;
  line-height: 1;
  margin-right: auto;
}

@media (max-width: 61.99875rem) {
  .header_nav__ILvaY {
    background-color: var(--nav-bg);
    height: calc(100vh - var(--header-height));
    height: calc(100dvh - var(--header-height));
    padding: 1.25rem 0;
    position: fixed;
    right: -18.75rem;
    top: var(--header-height);
    transition: right 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    width: 18.75rem;
  }
}
@media (min-width: 62rem) {
  .header_nav__ILvaY {
    display: flex;
  }
}

.header_navOpen__eTHgQ {
  right: 0;
}

.header_burgerMenu__OkQpL {
  justify-content: space-between;
  background-color: transparent;
  border: none;
  display: flex;
  height: 1.5rem;
  flex-direction: column;
  width: 2.1875rem;
}
@media (min-width: 62rem) {
  .header_burgerMenu__OkQpL {
    display: none;
  }
}
.header_burgerMenu__OkQpL span {
  background: #fff;
  border-radius: 0.125rem;
  height: 0.1875rem;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.header_burgerMenu__OkQpL span:nth-of-type(1) {
  width: 85%;
}
.header_burgerMenu__OkQpL span:nth-of-type(2) {
  width: 100%;
}
.header_burgerMenu__OkQpL span:nth-of-type(3) {
  width: 50%;
}

.header_burgerMenuOpen__Kjj0C span:nth-of-type(1) {
  transform: rotatez(45deg) translate(0.25rem, 0.0625rem);
  transform-origin: bottom;
  width: 50%;
}
.header_burgerMenuOpen__Kjj0C span:nth-of-type(2) {
  transform: rotatez(-45deg);
  transform-origin: top;
}
.header_burgerMenuOpen__Kjj0C span:nth-of-type(3) {
  transform: translate(0.9375rem, -0.25rem) rotatez(45deg);
  transform-origin: bottom;
  width: 50%;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app\\fonts.ts","import":"Sen","arguments":[{"subsets":["latin"],"display":"swap","variable":"--font-sen"}],"variableName":"sen"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(/_next/static/media/40db3b694e9f472f-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(/_next/static/media/16cbb6757f6536f8-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Sen Fallback';src: local("Arial");ascent-override: 87.52%;descent-override: 24.56%;line-gap-override: 0.00%;size-adjust: 107.34%
}.__className_867797 {font-family: 'Sen', 'Sen Fallback';font-style: normal
}.__variable_867797 {--font-sen: 'Sen', 'Sen Fallback'
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app\\fonts.ts","import":"Baskervville","arguments":[{"weight":"400","subsets":["latin"],"display":"swap","variable":"--font-baskervville"}],"variableName":"baskervville"} ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/30f1b3b1ca830e2b-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/afff02beaef1b318-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Baskervville Fallback';src: local("Times New Roman");ascent-override: 91.31%;descent-override: 26.99%;line-gap-override: 0.00%;size-adjust: 109.29%
}.__className_96c939 {font-family: 'Baskervville', 'Baskervville Fallback';font-weight: 400;font-style: normal
}.__variable_96c939 {--font-baskervville: 'Baskervville', 'Baskervville Fallback'
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./node_modules/normalize.css/normalize.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./app/globals.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* global.css */
:root {
  --body-font: var(--font-sen);
  --heading-font: var(--font-baskervville);
  --white: #fff;
  --black: #000;
  --brown: #635146;
  --green: #222720;
  --light-green: #3B3B30;
  --primary-colour: #FDF8EC;
  --secondary-colour: #F5E9DA;
  --accent-colour: #C0767F;
  --type-colour: #3F382C;
  --header-bg: var(--green);
  --nav-bg: var(--light-green);
  --product-nav-bg: var(--light-green);
  --border-radius: 2px;
  --font-weight--regular: 400;
  --font-weight--medium: 500;
  --font-weight--bold: 700;
  --text-link-colour: var(--accent-colour);
  --text-link-colour--hover: var(--black);
  --button-bg: var(--accent-colour);
  --button-colour: var(--primary-colour);
  --button-bg--hover: var(--black);
  --button-colour--hover: var(--primary-colour);
  --header-height: 80px;
}

@media (min-width: 62rem) {
  :root {
    --header-height: 150px;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  isolation: isolate;
  position: relative;
  background-color: var(--primary-colour);
  color: var(--type-colour);
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  padding-top: var(--header-height);
}
body::after {
  background: url("/pattern.png") 0 0 repeat;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: var(--font-weight--regular);
  line-height: 1.2;
  margin: 0;
}

h4,
h5,
h6 {
  line-height: 1.5;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

ul,
ol {
  margin-bottom: 1.75rem;
  margin-left: 1.75rem;
}

ul {
  list-style: inside;
}

li,
p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
li a,
p a {
  color: var(--text-link-colour);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  font-weight: var(--font-weight--bold);
}
li a:hover,
p a:hover {
  color: var(--text-link-colour--hover);
}

p {
  margin-bottom: 1.75rem;
}
p:last-child {
  margin-bottom: 0;
}

.btn {
  align-items: center;
  background: var(--button-bg);
  border-radius: var(--border-radius);
  border: none;
  color: var(--button-colour);
  cursor: pointer;
  display: inline-flex;
  min-height: 3.4375rem;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: var(--font-weight--bold);
  line-height: 1;
  padding: 0 1.25rem;
  text-decoration: none;
}
.btn::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' fill='none'%3E%3Cpath stroke='%23FDF8EC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10.059 1.5 15 6.5m0 0-4.941 5M15 6.5H1'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-size: cover;
  content: "";
  height: 0.6875rem;
  margin-left: 0.625rem;
  width: 0.875rem;
}
@media not all and (hover: none) {
  .btn:hover {
    background: var(--button-bg--hover);
    color: var(--button-colour--hover);
  }
}
@media (min-width: 75rem) {
  .btn {
    font-size: 1.125rem;
  }
}
