@use "sass:map";
@use 'sass:math';

@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16)+rem;
    }

    @else {
        @error 'Don\'t use units when using the rem() function; only numbers.';
    }
}


$breakpoints: (xs: (min: rem(414),
        max: rem(413.98)),
    sm: (min: rem(768),
        max: rem(767.98)),
    md: ( // min: rem(768),
        // max: rem(767.98)
        min: rem(992),
        max: rem(991.98)),
    lg: (min: rem(1280),
        max: rem(1279.98)),
    xl: (min: rem(1400),
        max: rem(1399.98)),
    xxl: ( //   min: rem(1920),
        //   max: rem(1919.98)
        min: rem(2560),
        max: rem(2559.98)),
    xxxl: (min: rem(2860),
        max: rem(2759.98)));

@mixin breakpoint($breakpoint, $direction: min) {

    //check if the supplied breakpoint exists in our breakpoits map
    @if map.has-key($breakpoints, $breakpoint) {
        $breakpoint-values: map.get($breakpoints, $breakpoint);
        $breakpoint-min: map.get($breakpoint-values, min);
        $breakpoint-max: map.get($breakpoint-values, max);

        //check if we are writing styles for larger or smaller screens
        @if $direction==min {
            @media (min-width: $breakpoint-min) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint-max) {
                @content;
            }
        }

        // use the custom value if the breakpoint is not part of the pre-defined list
    }

    @else {

        @if $direction==min {
            @media (min-width: $breakpoint) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint) {
                @content;
            }
        }
    }
}

@mixin mobile {
    @media (max-width: 767px) and (max-height: 932px) and (orientation: portrait) {
        @content;
    }
}

@mixin laptop () {
    @media (min-width: 1280px) and (max-height: 900px) {
        @content;
    }
}

@mixin basicList() {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin button($alt: false) {
    align-items: center;
    background: var(--button-bg);
    border-radius: var(--border-radius);
    border: none;
    color: var(--button-colour);
    cursor: pointer;
    display: inline-flex;
    min-height: rem(50);
    justify-content: center;
    font-size: rem(16);
    font-weight: var(--font-weight--bold);
    line-height: 1;
    padding: 0 rem(20);
    text-decoration: none;

    @include breakpoint(lg) {
        font-size: rem(18);
        min-height: rem(55);
    }

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' fill='none'%3E%3Cpath stroke='%23FDF8EC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10.059 1.5 15 6.5m0 0-4.941 5M15 6.5H1'/%3E%3C/svg%3E");
        background-position: 0 0;
        background-size: cover;
        content: '';
        height: rem(11);
        margin-left: rem(10);
        width: rem(14);
    }

    @media not all and (hover: none) {
        &:hover {
            background: var(--button-bg--hover);
        }

    }

    @include breakpoint(lg) {
        font-size: rem(18);
    }

}

@mixin iconButton($height: 75, $width: 75, $iconHeight: 32, $iconWidth: 32) {
    align-items: center;
    background: var(--button-bg);
    border-radius: var(--border-radius);
    border: none;
    color: var(--button-colour);
    cursor: pointer;
    display: inline-flex;
    height: rem(50);
    justify-content: center;
    width: rem(50);

    @include breakpoint(lg) {
        height: rem($height);
        width: rem($width);
    }

    @media not all and (hover: none) {
        &:hover {
            background: var(--button-bg--hover);
        }
    }

    svg {
        fill: var(--primary-colour);
        height: rem(22);
        width: rem(22);

        @include breakpoint(lg) {
            height: rem($iconHeight);
            width: rem($iconWidth);
        }

    }

}


@mixin pattern($opacity: 0.4) {
    isolation: isolate;
position: relative;

&::after {
    background: url('/pattern.png') 0 0 repeat;
    bottom: 0;
    content: '';
    left: 0;
    opacity: $opacity;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

}

@mixin horizontalList($gap: 0) {
    display: flex;
    flex-wrap: wrap;

    >* {
        margin-right: rem($gap);

        &:last-child {
            margin-right: 0;
        }

    }

}


@mixin textLink($white: false) {
    font-weight: var(--font-weight--bold);
    text-decoration: underline;
    text-decoration-thickness: rem(2);
    text-underline-offset: rem(8);
    // text-underline-offset: rem(6);
    // transition: all .2s ease-in-out;

    @if $white {
        color: var(--white);

        &:hover {
            color: var(--accent);
        }

    }

    @else {
        color: var(--accent);

        &:hover {
            color: var(--text-link-colour--hover);
        }

    }

}
