

.hero {
    color: var(--white);
    display: flex;
    align-items: flex-end;
    min-height: rem(500);
    padding-bottom: rem(30);
    position: relative;
    isolation: isolate;

    @include breakpoint(sm, max) {
        height: calc(100dvh - var(--header-height));
    }

    @include breakpoint(md) {
        max-height: 90vh;
        padding-bottom: rem(60);
    }

    @include breakpoint(lg) {
        max-height: none;
        min-height: rem(750);
    }

    &::after {
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;

        @include breakpoint(md) {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 20%, rgba(0, 0, 0, 0) 50%);
        }

    }

    img {
        z-index: -1;
    }

    h1 {
        margin-bottom: rem(10);

        @include breakpoint(md) {
            margin-bottom: rem(20);
        }

        +p {
            opacity: var(--text-opacity);
        }

    }

    p {
        max-width: rem(600);
    }

    a {
        @include textLink(true);
    }

}
