.masthead {
    background-color: var(--green);
    height: rem(200);
    padding-bottom: rem(20);
    position: relative;
    z-index: 1;

    @include breakpoint(sm) {
        height: rem(250);
    }

    @include breakpoint(xl) {
        height: rem(300);
        padding-bottom: rem(30);
    }

    @include breakpoint(xxl) {
        height: rem(400);
    }



    .container {
        align-items: flex-end;
        display: flex;
        height: 100%;
    }

    h1 {
        color: var(--white);
    }

}

.mastheadWithImg {

    &::after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .5) 100%);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -2;
    }

}
