.navLinks {
    @include basicList;

    @include breakpoint(md) {
        @include horizontalList(30);
    }

    li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint(md, max) {
            margin-right: 0;
            width: 100%;
        }

        a {
            color: var(--white);
            display: flex;
            flex: 1;
            font-size: rem(14);
            font-weight: var(--font-weight--normal);
            letter-spacing: rem(2);
            padding: rem(15) rem(20) rem(15) rem(30);
            position: relative;
            text-decoration: none;
            text-transform: uppercase;

            @include breakpoint(md) {
                align-items: center;
                opacity: .8;
                padding: 0;
            }

            &:hover {
                opacity: 1;
            }

            &.isActive {
                font-weight: var(--font-weight--bold);
                opacity: 1;
            }

        }

    }

    &:not(.isPrimary) {

        li {

            a {

                @include breakpoint(md) {
                    font-size: rem(16);
                    letter-spacing: normal;
                    text-transform: none
                }

            }

        }

    }

    &.isPrimary {

        @include breakpoint(md) {
            @include horizontalList(40);
            margin-right: rem(50);
        }

        li {

            a {

                &.isActive {

                    &::after {
                        @include breakpoint(md) {
                            background: var(--white);
                            bottom: rem(-1);
                            content: '';
                            height: rem(2);
                            left: 0;
                            position: absolute;
                            width: 100%;
                        }
                    }

                }

            }

        }

    }

}

.submenu {
    display: none;
    margin: 0 0 rem(8) rem(10);

    @include breakpoint(md, max) {
        display: block;
    }

    a::before {
        content: '-';
        color: white;
        margin-right: rem(15);
    }

}
