@import '@/app/mixins.scss';

.testimonials {
    display: grid;
    gap: rem(20);

    @include breakpoint(sm) {
        gap: rem(30);
    }

    @include breakpoint(md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(xl) {
        gap: rem(50);
    }

}
