@import '@/app/mixins.scss';

.headerRight {
    display: grid;
    gap: rem(10);
    grid-auto-flow: column
}

.socialLinks {
    @include basicList;
    @include horizontalList(15);
    margin-right: rem(15);

    @include breakpoint(md) {
        @include horizontalList(20);
    }

    li {

        img {
            display: block;
            height: rem(24);
            width: rem(24);
        }

    }

}
