@import '@/app/mixins.scss';

.headerRight {
    display: grid;
    gap: rem(10);
    grid-auto-flow: column
}

.socialLinks {
    @include basicList;
    display: grid;
    gap: rem(15);
    grid-auto-flow: column;
    margin-right: rem(15);

    li {

        img {
            display: block;
            height: rem(24);
            width: rem(24);
        }

    }

}
