.contactForm {
    display: flex;
    flex-direction: column;

    :global(.btn) {
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(sm, max) {
            width: 100%;
        }
    }

    .hidden {
        display: none;
    }

    .formFields {
        display: grid;
        gap: rem(25);
        margin-bottom: rem(25);

        @include breakpoint(sm) {
            gap: rem(30);
        }

        @include breakpoint(lg) {
            gap: rem(50);
            margin-bottom: rem(40);
        }

        div:not(.contactFormCol) {
            @include breakpoint(sm) {
                grid-column: span 2
            }
        }

    }

    .error {
        color: var(--negative-colour);
        font-weight: var(--font-weight--bold);
        margin: 0;
        text-align: left;
    }

}

.processing {
    align-items: center;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 99;
}

.spinner {
    animation: rotation 1.5s linear infinite;
    border: rem(3) solid var(--type-colour);
    border-radius: 50%;
    display: inline-block;
    height: rem(80);
    position: relative;
    width: rem(80);

    &::after {
        border: rem(5) solid transparent;
        border-bottom-color: var(--accent);
        border-radius: 50%;
        content: '';
        height: rem(70);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem(70);
    }

}

.thanks {

    text-align: center;

    h2 {
        margin-bottom: rem(20);
    }

    p {
        color: var(--type-colour) !important;
    }

    a {
        @include textLink;
    }

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
